.accordion {
  margin: 0 auto;

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &__element {
    padding: 26px 0 19px;
    border-bottom: 1px solid rgba($color-sapphire, 0.2);

    &--first {
      border-top: 1px solid rgba($color-sapphire, 0.2);
    }

    @include vp-767 {
      padding: 20px 0 13px;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;

    @include vp-767 {
      margin-bottom: 13px;
    }

    h3 {
      font-size: 24px;
      line-height: 28.8px;
      margin: 0;
      word-break: break-word;

      @include vp-1199 {
        line-height: 24px;
      }

      @include vp-767 {
        font-size: 18px;
        line-height: 21.6px;
      }
    }
  }

  &__button {
    width: 42px;
    height: 42px;
    padding: 20px;
    position: relative;
    border-radius: 50%;
    border: 1px solid $color-resolution-blue;
    background-color: transparent;
    cursor: pointer;

    @include vp-767 {
      width: 32px;
      height: 32px;
      padding: 15px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 18px;
      background-color: $color-resolution-blue;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      @include vp-767 {
        height: 12px;
      }
    }

    &::after {
      content: "";
      display: block;
      flex: none;
      position: absolute;
      width: 18px;
      height: 1px;
      background-color: $color-resolution-blue;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      @include vp-767 {
        width: 12px;
      }
    }

    &:hover,
    &:focus {
      border-color: $color-sapphire;
      background-color: $color-sapphire;

      &::before {
        background-color: $color-default-white;
      }

      &::after {
        background-color: $color-default-white;
      }
    }

    &--disabled,
    &:disabled {
      opacity: 0.3;
    }
  }


  &__element.is-active &__button,
  &__button:active {
    border-color: $color-sapphire;
    background-color: $color-sapphire;

    &::before {
      display: none;
    }

    &::after {
      background-color: $color-default-white;
    }
  }

  &__wrapper {
    width: 77%;

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 25.2px;
      margin: 0;
      word-break: break-word;

      @include vp-767 {
        font-size: 16px;
        line-height: 22.4px;
      }
    }

    @include vp-767 {
      width: 100%;
    }
  }
}
