.button {
  padding: 20px 40px;
  background-color: transparent;
  border: 4px solid $color-default-white;

  color: $color-default-white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;

  @include vp-1199 {
    padding: 20px 33px;
  }

  &--dark {
    color: $color-sapphire;
    border-color: $color-sapphire;
  }
}
