.slider-button {
  color: $color-sapphire;
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 50%;

  svg {
    width: 16px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  @include vp-767 {
    width: 36px;
    height: 36px;

    svg {
      width: 10px;
      height: 19px;
    }
  }

  &:hover,
  &:focus {
    border: 1px solid $color-sapphire;
  }

  &:active {
    background-color: $color-sapphire;
    color: $color-default-white;
  }

  &--disabled,
  &:disabled {
    opacity: 0.3;
  }
}
