.super-games {
  padding-top: 120px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  position: relative;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 63px;
    flex-direction: column;
  }

  span {
    word-break: break-word;
  }
}

.super-games__picture {
  width: 100%;
  align-self: stretch;
  margin: 0;
  min-height: 500px;
  flex-grow: 2;
  overflow: hidden;
  background-color: $color-sapphire;
  position: relative;
  object-fit: cover;

  @include vp-1199 {
    width: 100%;
    min-height: 292px;
  }

  @include vp-767 {
    height: auto;
    width: 100%;
  }

  picture {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include vp-767 {
      position: static;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.super-games__info {
  background-color: $color-torch-red-2;
  color: $color-default-white;
  padding: 85px 78px 87px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  flex-grow: 2;
  min-width: 500px;

  @include vp-1199 {
    padding: 40px 42px 50px;
    min-width: 292px;
  }

  @include vp-767 {
    max-width: 100%;
    width: 100%;
    padding: 44px 44px 50px;
  }

  h2 {
    margin: 0 auto 0 0;
    padding: 0 10px;
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-size: 82px;
    font-weight: 600;
    line-height: 78.72px;
    letter-spacing: 2.46px;
    word-break: break-word;
    width: 201px;

    @include vp-1199 {
      width: 126px;
      margin: auto 0;
      font-size: 48px;
      line-height: 46px;
      letter-spacing: 1.44px;
      padding: 0;
      padding-left: 10px;
      padding-bottom: 7px;
    }

    @include vp-767 {
      padding-left: 8px;
      padding-bottom: 14px;
    }
  }

  p {
    font-size: 18px;
    line-height: 27px;
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 45px;
    margin-top: -10px;
    word-break: break-word;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 30px;
    }

    @include vp-767 {
      margin-bottom: 28px;
    }
  }
}

.super-games__date-block {
  grid-column: 2 / 3;
  margin: 0;
  margin-left: auto;
  padding-top: 7px;
  margin-right: -7px;

  @include vp-1199 {
    height: min-content;
    padding-top: 8px;
    margin-right: 0;
    margin-bottom: 13px;
  }
}

.super-games__date-title {
  display: block;
  height: max-content;
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 7px;

  @include vp-1199 {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
  }
}

.super-games__date-area {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -6px;
  width: max-content;
  position: relative;

  @include vp-1199 {
    margin: 0;
    margin-top: -3px;
  }

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: $color-default-white;
    position: absolute;
    top: 7px;
    left: 0;
    z-index: 1;

    @include vp-1199 {
      top: 3px;
    }
  }
}

.super-games__bold {
  margin-right: 7px;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;

  @include vp-1199 {
    font-size: 24px;
    line-height: 36px;
    margin-right: 3px;
  }
}

.super-games__normal {
  width: 37px;
  font-size: 14px;
  line-height: 21px;

  @include vp-1199 {
    width: 26px;
    font-size: 10px;
    line-height: 15px;
  }
}

.super-games__button {
  grid-column: 1 / -1;
  width: 100%;
  padding: 23px 40px;

  @include vp-1199 {
    padding: 12px 30px;
    border-width: 2px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
  }
}
