.trainers {
  padding-top: 8px;
  padding-bottom: 105px;
  position: relative;

  @include vp-1199 {
    padding: 0 101px 100px;
  }

  @include vp-767 {
    padding: 0 47px 70px;
    height: min-content;
  }

  h2 {
    color: $color-sapphire;
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 1.62px;
    margin: 0;
    margin-bottom: 47px;
    word-break: break-word;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1.26px;
      text-align: center;
      margin-bottom: 32px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.96px;
      margin-bottom: 42px;
    }
  }
}

.trainers__slide {
  background-color: rgba($color-sapphire, 0.89);
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;

  picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $color-spindle;

    @include vp-1199 {
      width: 100%;
      height: 100%;
    }

    @include vp-767 {
      width: 100%;
      height: 100%;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include vp-1199 {
      width: 100%;
      height: 100%;
    }

    @include vp-767 {
      width: 100%;
      height: 100%;
    }
  }

  //&:hover {
  //  overflow: auto;
  //}

  &:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color-sapphire, 0.89);
  }

  &:hover .trainers__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:hover .trainers__text-block {
    top: 0;
    bottom: auto;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}

.trainers__text-block {
  color: $color-default-white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 50px 4px 22px;
  overflow: auto;

  @include vp-1199 {
    padding-top: 53px;
  }

  @include vp-767 {
    padding-top: 44px;
  }

  h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin: auto;
    word-break: break-word;
  }
}

.trainers__info {
  margin: 0 auto;
  padding: 0 20px;
  display: none;

  @include vp-767 {
    padding: 0;
  }

  span {
    color: $color-spindle;
    text-align: center;
    margin: 0;
    margin-bottom: 28px;
    word-break: break-word;
  }

  ul {
    margin: 0;
    padding: 0 0 0 45px;
  }

  li {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 13px;
    word-break: break-word;
  }
}

.trainers__button {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.trainers__button--prev {
  left: 25px;
  transform: translate(0, 8px);

  @include vp-1199 {
    transform: translate(0, -23px);
  }

  @include vp-767 {
    left: 3px;
    transform: translate(0, 8px);
  }
}

.trainers__button--next {
  right: 25px;
  transform: translate(0, 8px) rotate(180deg);

  @include vp-1199 {
    transform: translate(0, -23px) rotate(180deg);
  }

  @include vp-767 {
    right: 3px;
    transform: translate(0, 8px) rotate(180deg);
  }
}
